* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 5rem;
  /* background: black; */
}

#logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.color {
  color: rgb(141, 33, 242);
}

.search-form {
  padding: 2rem;
  display: flex;
}

.search-form input {
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
  border: none;
  border: 2px solid rgb(141, 33, 242);
  outline: none;
}

.search-form button {
  border: none;
  padding: 0.5rem;
  background: rgb(141, 33, 242);
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.gallery {
  width: 80%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 0rem 0rem 2rem 0rem;
  row-gap: 5rem;
  column-gap: 3rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content p {
  color: gray;
  font-size: 14px;
  letter-spacing: 1px;
}

.content a {
  color: gray;
  font-size: 14px;
}

.img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more {
  padding: 1rem 3rem;
  background: rgb(74, 68, 131);
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
